:root{
    --red: #E50914;
    --black: #141414;
    --white: #FFF;
    --color_font: #AAA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    font-family: 'Times New Roman', Times, serif;
    color: var(--white)
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--red);
    font-family: 'Arial Black' Times;
    font-size: 40px;
    margin-left: 5px;
}

header nav a {
    text-decoration: none;
    color: var(--color_font);
    margin-right: 10px;
}

header nav a:hover{
    color: var(--white);
    cursor: pointer
}

.main_movie {
    height: 25rem;
    font-size: 16px;
    background:linear-gradient(rgba(0, 0, 0, 50), rgba(0, 0, 0, 50) 100%), url("");
    background-size:cover ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title {
    font-size: 35px;
}